/*
Nom du Thème: 99ko_Officiel
Thème URI: http://www.99ko.org/
Description: Thème pour le CMS 99ko
Version: 1.0
Auteur: Frédéric K.
Auteur URI: http://skinsbox.com
*/
* { margin: 0; padding: 0; }
html { background: url(../images/bg2.jpg);}
body { background: url(../images/bg.jpg) repeat-x;}
.clear{ clear:both; }
.red { color: #d05353;}
a { color: #ffffff; text-decoration: none;}
a:hover {color: #efefef; text-decoration: underline;}
p { font-size: 14px; line-height: 1.6em; margin-bottom: 15px; font-family: "Lucida Grande","Verdana",sans-serif; color: #313B41; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
.DescriptionProjet { font-size: 16px; line-height: 1.6em; margin-bottom: 15px; font-family: Georgia,"Verdana",sans-serif; font-style: italic; color: #313B41; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
hr { border:none; border-bottom:1px solid #9F9E8B; margin:10px 0 10px 0; }
.clear{clear:both;}
h2, h3 { color: #444; font-family: Georgia; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
.center { text-align:center; }
/* main styles */
.padfix {margin-bottom: 15px;}
#Taille-Fixe { width: 940px; margin: 0 auto;}
#Taille-Fixe-inner {width: 960px; margin: 0 auto;}
.Taille-Fixe { width: 940px; margin: 0 auto;}
#logo { margin:0; padding:0;}
#logo h1 { background: url(../images/logo.png); width: 256px; height: 318px; text-indent: -9999px; margin: 0 auto;}
#navigation {margin: 0 auto; width: 545px; background: #c2dbc8; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; -moz-box-shadow: 0 1px 0 #FFF; -webkit-box-shadow: 0 1px 0 #FFF; box-shadow: 0 1px 0 #FFF; border: 1px solid #9ab09f; border-top: none;}
#navigation ul { float: left; list-style: none;}
#navigation ul li { float: left; padding: 5px 20px;}
#navigation ul li a { text-transform: uppercase; font-family: Arial; font-size: 12px; color: #748473; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); }
#navigation ul li a:hover {text-decoration: none; color: #59665c;}
#featured { margin-top: 25px;}
#aboutme { margin-top: 200px; margin-bottom: 75px;}
.avatar { padding: 10px; border: 1px solid #FFF; background: rgba(204, 204, 204, 0.4); margin-right: 15px; float: left;}
.avatar:hover { -moz-box-shadow: 0px 0px 4px #222; -webkit-box-shadow: 0px 0px 4px #222; box-shadow: 0px 0px 4px #222;}
.amp { font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', Georgia, Arial, serif; font-style: italic; font-weight: normal; font-size: 16px;}
.ampbig { font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', Georgia, Arial, serif; font-style: italic; font-weight: normal; font-size: 40px;}
#PiedDePage { background: url(../images/PiedDePage.jpg) repeat-x; height: 69px; margin-top: 50px;}
#PiedDePage_Milieu { background: url(../images/PiedDePage_Milieu.jpg);}
#PiedDePage_Fin {background: url(../images/PiedDePage_Fin.jpg) repeat-x; height: 70px; margin-top: -15px;}
.PiedDePage_Copy	{ text-align: center;}	

/* Styles du Scroller */
.roundabout-holder {list-style:none; width:500px; height:300px; margin:0px auto;}
.roundabout-moveable-item {font-size:12px!important; height:300px; width:600px; cursor:pointer; padding:5px; border:1px solid #aaaaaa; -webkit-border-radius:5px; -moz-border-radius:5px; background:#f9f9f9;}
.roundabout-moveable-item img {height:100%; width:100%; background-color:#FFFFFF; margin:0;}
.roundabout-in-focus {cursor:auto;}
.roundabout-in-focus:hover	{-webkit-box-shadow:0px 0px 20px #787878; -moz-box-shadow:0px 0px 20px #787878; background:#f9f9f9;}
.roundabout-holder span	{display:none; font-size:18px !important; color: #222;}
.roundabout-in-focus:hover span	{display:inline; position:absolute; bottom:5px; right:5px; padding:8px 20px; background:#f9f9f9; color:#222; z-index:999; -webkit-border-top-left-radius: 5px; -moz-border-radius-topLeft: 5px; font-size : 12px;border-left:1px solid #aaaaaa; border-top:1px solid #aaaaaa; text-shadow: 0 1px 0 #FFF;}
.roundabout a:active, .roundabout a:focus, .roundabout a:visited {outline:none; text-decoration:none;}
.roundabou li {margin:0}
a img {border:none; outline:0;}

/* Titre_logo + Image Slider */
#featured, #Titre_logo	{margin:10px 0 40px 0;}
/* Image Slider */
#folio_scroller_container {margin-top:35px; margin-bottom:40px; height:auto;}
#folio_scroller_container .roundabout-holder {list-style:none; height:400px; margin:0px auto 20px auto;}

/* Navigation Styles */
#navigation-block {position:fixed; float: left; width: 300px; top: 400px;}
#hide { position:absolute; top:30px; left:-190px; }
ul#sliding-navigation { list-style: none; font-size: 12px; padding: 0; }
ul#sliding-navigation li.sliding-element h3, ul#sliding-navigation li.sliding-element a { display: block; width: 150px; padding: 5px 18px; margin: 0; margin-bottom: 5px; }
ul#sliding-navigation li.sliding-element h3 { color: #fff; background:#333 url(../images/heading_bg.jpg) repeat-y; font-weight: normal; text-shadow: 0 1px 0 #000; }
ul#sliding-navigation li.sliding-element a { color: #999; background:#222 url(../images/tab_bg.jpg) repeat-y; border: 1px solid #1a1a1a; text-decoration: none; text-shadow: 0 1px 0 #000; }
ul#sliding-navigation li.sliding-element a:hover { color: #FFF; }

/* download button */
#download {background: url(../images/download.png) no-repeat  top right; display: block; border: none; width: 258px; height: 70px; text-indent: -9999px; outline: none; cursor:pointer; margin-top: 6px; margin-bottom: 6px; }
#download:hover { background: url(../images/download.png) repeat-x 0 -70px; border: none; outline:none; }
#download:active {background: url(../images/download.png) repeat-x 0 -140px; border: none; outline:none; }
#downloadcontainer { width: 860px; overflow: hidden; padding: 0 40px;}
#downloadbutton { float: left; width: 250px;}
#downloadtext { float: right; width: 590px;}
#downloadtext h2 { color: #444; font-size: 36px; margin-top:16px; float: right; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); font-family: Helvetica, Arial, sans-serif;}

/* Extras button */
#extras ul{margin:30px 0 0 0; text-align: center}
#extras li{list-style-type:none; display:inline}
#extras li a{color:#316594; text-decoration:none}
#extras li a:hover{color:#316594;}
.button{ -moz-border-radius: 3px;  -webkit-border-radius: 3px;  background: white;  background: -moz-linear-gradient(0% 170% 90deg,#c4c4c4,white);  background: -webkit-gradient(linear,0% 0%,0% 170%,from(white),to(#c4c4c4));  border: 1px solid;  border-color: #e6e6e6 #ccc #ccc #e6e6e6;  border-radius: 3px;  color: #404040;  display: inline-block;  font-family: "helvetica neue",helvetica,arial,freesans,"liberation sans","numbus sans l",sans-serif;  font-size: 13px;  outline 0;  padding: 5px 8px 5px;  text-align: center;  text-decoration: none;  text-shadow: 1px 1px 0 white;  white-space: nowrap}
 .button:hover{ background: -moz-linear-gradient(0% 170% 90deg,#b8b8b8,white);  background: -webkit-gradient(linear,0% 0%,0% 170%,from(white),to(#b8b8b8));  border-color: #9cf;  color: #333}
 .button:active{ position: relative;  top: 1px}
 .button:active, .button:focus{ background-position: 0 -25px;  background: -moz-linear-gradient(0% 170% 90deg,white,#dedede);  background: -webkit-gradient(linear,0% 0%,0% 170%,from(#dedede),to(white));  border-color: #8fc7ff #94c9ff #94c9ff #8fc7ff;  color: #1a1a1a;  text-shadow: 1px -1px 0 rgba(255,255,255,0.5)}
 img.news{ background: url(../images/comment.png) no-repeat; padding-right: 4px; width:16px; height:16px }
 
 
/* Inner Page */
#inner_page h2 { font-weight: normal;}
#inner_page li { list-style-image: url(../images/check.png); color:#666; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); margin-bottom: 10px; font-size: 18px; list-style-position: inside;}
.innerbigimage { padding: 10px; border: 1px solid #FFF; background: rgba(204, 204, 204, 0.4); margin-bottom: 20px; float: left;}
.innerbigimage:hover { -moz-box-shadow: 0px 0px 4px #222; -webkit-box-shadow: 0px 0px 4px #222; box-shadow: 0px 0px 4px #222;}
