/* Styles.css
	Site: http://1clickedit.org
	Author: Frédéric K.
	Date: 30/03/2012
*/
@font-face {
  font-family: 'Kelly Slab';
  font-style: normal;
  font-weight: normal;
  src: local('Kelly Slab'), local('KellySlab-Regular'), url('fonts/KellySlab.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: local('Ubuntu'), url('fonts/ubuntu.woff') format('woff');
}
body{margin:0px; padding:0px; line-height: 1.5;
	color: #34394F;
	font-size: 14px;
	font-family: 'Ubuntu', "Helvetica Neue",  Helvetica,  Arial,  sans-serif; color:#666; background-color:#dfe1e3}

/* ! Links */
/* ---------------------------------------------------------------------------------
*/
a, a:visited{outline-style:none; /* get rid of borders on active links */color:#7EA9B4; text-decoration:none}
a:hover, a:active{text-decoration:underline}
a.no-underline, a.no-underline:hover{text-decoration:none}

/* ! Top level elements */
/* ---------------------------------------------------------------------------------
*/
h1, h2, h3, h4, .logo{font-family: 'Kelly Slab','Myriad Pro', Arial, sans-serif;text-shadow: 1px 1px 0px #F2F2F2, 1px 2px 0px #B1B1B2;}
h1{font-size: 28px}
h2{font-size: 20px}
h3{font-size: 18px; color:#7ca8b4; font-weight:normal; text-transform: uppercase}
h4{font-size:16px; margin:0; padding:0}

ul{list-style:none; margin:0px; padding:0px}

.clearer{display:block; clear:both; height:1px; line-height:1px; margin-top:-1px; text-indent:-9999px}

blockquote{background-color:#dfe1e3; margin:0px; padding:10px}

/* ! Buttons  */
/* --------------------------------------------------------------------------------- 
 */
 
button, a.button, .buttons button, .buttons a{background:#e6f0f3 url(../images/buttons/button-overlay.png) repeat-x; display:inline-block; color:#333; text-decoration:none; font-weight:bold; font-size:14px; padding:8px 14px 9px 14px; margin:0px; line-height:1; -moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow:0 1px 3px rgba(0,0,0,0.2); -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.2); /* text-shadow:0 -1px 1px rgba(0,0,0,0.05); */border:none; border-top:1px solid rgba(0,0,0,0.05); border-right:1px solid rgba(0,0,0,0.1); border-left:1px solid rgba(0,0,0,0.1); border-bottom:1px solid rgba(0,0,0,0.25); position:relative; cursor:pointer}

button:hover, a.button:hover, .buttons button:hover, .buttons a:hover{background-color:#007e9e !important; color:#fff !important}

button:focus{background-color:#007e9e !important; color:#fff !important; outline:none}

button img, a.button img{float:left; margin:0px; margin-left:-4px; margin-right:4px}

button.clear, a.button.clear{background:transparent !important; border:none !important; -moz-box-shadow:none !important; -webkit-box-shadow:none !important; text-shadow:none !important; color:#666}
button.clear:hover, a.button.clear:hover{color:#007e9e !important; text-decoration:underline}

button.light, a.button.light{background-color:#fff; color:#333; text-shadow:0 -1px 1px rgba(0,0,0,0.05); -moz-box-shadow:0 1px 3px rgba(0,0,0,0.1); -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1); border-top:1px solid rgba(0,0,0,0.05); border-right:1px solid rgba(0,0,0,0.1); border-left:1px solid rgba(0,0,0,0.1); border-bottom:1px solid rgba(0,0,0,0.15)}

/* Sizes */
button.large, a.button.large{/* Default button state */}

button.medium, a.button.medium{padding:4px 10px 6px; font-size:13px}

button.small, a.button.small{ margin-top:5px; padding:5px 10px 6px; font-size:11px}
button.small img, a.button.small img{margin-top:-2px; margin-bottom:-3px}

/* Pill Buttons */
button.pill, a.button.pill{/* background:#e6f0f3 url(../images/buttons/36px-blended.png) repeat-x; */-moz-border-radius:18px; -webkit-border-radius:18px; border-top:1px solid rgba(0,0,0,0.1); border-left:1px solid rgba(0,0,0,0.15); border-right:1px solid rgba(0,0,0,0.15)}
button.pill:hover, a.button.pill:hover{border-top-color:transparent}

/* ! Header & Navigation */
/* ---------------------------------------------------------------------------------
*/
header{background:#333940}
nav ul{width:900px; height:40px; padding:20px 0px; margin:0px auto}
nav li.logo a{display:block; margin-right:25px; margin-top:-10px; float:left; font-weight:bold; font-size:25px; color:#FFF !important;}
nav li{display:block; float:left; margin-right:20px; margin-top:10px}
nav li a{display:block; color:#BBC2C8 !important; font-size:17px; font-family: 'Kelly Slab';}
nav li a:hover, nav li a:active{color:#EEE !important; text-decoration:none}

nav a.selected{color:#EEE}

/* ! Main Content  */
/* --------------------------------------------------------------------------------- 
 */
section{padding:20px 0px; background-color:#eee}

/* Center the content */
section .content{width:900px; margin:0px auto}

/* ! Footer  */
/* --------------------------------------------------------------------------------- 
 */
footer{
    background: transparent url('img/wlmzW.png') repeat-x;
    text-align: center;
    padding:20px 0px; margin:0px auto; clear:both}

/* ! Home Page  */
/* --------------------------------------------------------------------------------- 
 */
#page{width:640px; float:left; margin-right:40px}
#page ul{list-style:disc; padding-left:20px}

aside{width:220px; float:right}

aside .section{padding:20px; background-color:#fff; margin-bottom:20px; -moz-border-radius:5px; -webkit-border-radius:5px}

aside h3{color:#666; font-size:13px; font-weight:normal; border-bottom:1px dotted #ccc; margin:8px 0 8px 0}

aside h3:first-child{margin-top:0px}

aside .albums li{display:block; float:left;  margin:0px 5px 5px 0px}

/* ! Post  */
/* --------------------------------------------------------------------------------- 
 */
.post{border-bottom:1px dotted #bac2c9; padding-bottom:20px; margin-bottom:20px}

.post h1 a:hover{text-decoration:none; border-bottom:1px dotted #bac2c9; color:#323941}

.post .meta{color:#bac2c9}

.post .comments{display:inline}

.post .comment_count{padding:0px}

.post .tags{display:inline}

 
/* ! Photos Page  */
/* --------------------------------------------------------------------------------- 
 */
 
li.photos a{display:block; float:left; margin-right:5px; margin-bottom:5px}

/* ! Events Page */
/* --------------------------------------------------------------------------------- 
 */
.event{background-color:#fff; -moz-border-radius:5px; -webkit-border-radius:5px; padding:20px; margin-bottom:10px; min-height:60px}

.event h2{margin:0px; margin-bottom:5px; margin-left:76px}

.event p{margin:0px; margin-left:76px}

.event-date{display:block; float:left; height:60px; background-color:#eee; padding:5px 10px; margin-right:10px}

.event-date span{display:block; text-align:center}
.event-date span.event-day{font-size:20px}
.event-date span.event-time{font-size:10px}

/* ! Forms  */
/* --------------------------------------------------------------------------------- 
 */
form{margin:0px; padding:0px}
form p{margin-top:0px; margin-bottom:12px}
fieldset{margin:0px; border:none; background:#fff; -moz-border-radius:3px; -webkit-border-radius:3px}
input, textarea{-moz-border-radius:2px; -webkit-border-radius:2px; border-top:1px solid #8e8e8e; border-left:1px solid #8e8e8e; border-bottom:1px solid #e1e1e1; border-right:1px solid #e1e1e1; background:#fefefe; outline:none; padding:7px 10px}
input {width:50%}
textarea {width:70%; min-height: 150px}
input:focus, textarea:focus{background-color:#fefeee}
label{display:inline-block}

input[type="submit"] { width: auto; background: #2ba6cb; border: 1px solid #1e728c; -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; color: white; cursor: pointer; display: inline-block; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; line-height: 1; margin: 0; outline: none; padding: 10px 20px 11px; position: relative; text-align: center; text-decoration: none; -webkit-transition: background-color 0.15s ease-in-out; -moz-transition: background-color 0.15s ease-in-out; -o-transition: background-color 0.15s ease-in-out; transition: background-color 0.15s ease-in-out}
input[type="submit"]:hover { color: white; background-color: #2284a1; }
input[type="submit"]:active { -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; }
input[type="submit"]:focus { -webkit-box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 0 0 4px #2ba6cb, 0 1px 0 rgba(255, 255, 255, 0.5) inset; color: white; }

/* ! Comments  */
/* --------------------------------------------------------------------------------- 
 */
.comment{background-color:#fff; -moz-border-radius:5px; -webkit-border-radius:5px; padding:20px; margin-bottom:10px}
.comment .meta{color:#bac2c9}
.comment .body{}

/* ! Comment Form  */
/* --------------------------------------------------------------------------------- 
 */
 
#make_comment{background-color:#dfe1e3; padding:20px; -moz-border-radius:5px; -webkit-border-radius:5px}
#make_comment h3{margin-top:0px; font-weight:bold; font-size:20px}

#make_comment input{width:300px}

/* ! 99ko Styles  */
/* --------------------------------------------------------------------------------- 
 */
#msg p{ padding:10px; margin-top:0px}
/* Specific errors */
#msg.success{background-color:#E6EFC2;  border:1px solid #C6D880;  color:#529214;  -moz-border-radius:3px; -webkit-border-radius:3px}

#msg.error{background-color:#fbe6f2; border:1px solid #d893a1; -moz-border-radius:3px; -webkit-border-radius:3px}

#breadcrumb{text-transform: uppercase; font-size:10px; margin:0; padding:5px; margin-bottom:25px; background:#f3f3f3; border:1px solid #e9e9e9; -moz-border-radius:5px; -webkit-border-radius:5px;}

#breadcrumb a{ text-decoration:none;  color:#928c8c}

.highlight, 
.neutral{background-color:#dff4ff;  border:1px solid #c2e1ef;  color:#369;  -moz-border-radius:3px; -webkit-border-radius:3px}

span.error{background-color:transparent; border:none; color:#d893a1; font-style:italic; font-size:12px}

p.highlight{padding:10px}
