@import url(//fonts.googleapis.com/css?family=PT+Sans+Narrow);

/* HTML */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    max-width: 100%;
}

body{
    font-family: arial;
    font-size: 16px;
    color: #928c8c;
    background: #f5f5f5;
}

a, a:hover, a:active, a:visited{
    color: #B22222;
}

a:hover{
    color: #8B0000;
}

h1{
    font-size: 32px;
    font-weight: normal;
    font-family: 'PT Sans Narrow';
    text-shadow: 2px 2px 2px #e9e9e9;
    color: #5A5E6B;
}

h2{
    font-size: 22px;
}

h3{
    font-size: 12px;
}

ul{
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
}

table{
    width: 100%;
}

tr{
    border-bottom: 1px solid #e9e9e9;
}

tr:last-child{
    border-bottom: 0;
}

tr:nth-child(even){
    background: #fefae2;
}

th, td{
    text-align: left;
    padding: 5px;
}

input[type=text], input[type=mail], input[type=password], textarea{
    background: #fff;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
    box-shadow: inset rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: inset rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: inset rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.15) 0px 0px 8px;
    border: solid 1px #e9e9e9;
    padding: 5px;
    width: 50%;
}

textarea{
    height: 250px;
}

input[type=submit], input[type=button]{  
    width: auto; 
    padding: 5px;  
}

pre{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

code{
    font-size: 11px;
    font-family: Verdana, "Lucida Grande", Lucida, Tahoma, "Trebuchet MS", Arial, Geneva, Helvetica, sans-serif;
}

/* STRUCTURE */

#container{
    position: relative;
}

#header{
    width: 100%;
    background: #5A5E6B;
    padding: 25px;
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    -moz-box-shadow: 0px 1px 6px 0px #9b9b9b;
    -webkit-box-shadow: 0px 1px 6px 0px #9b9b9b;
    -o-box-shadow: 0px 1px 6px 0px #9b9b9b;
    box-shadow: 0px 1px 6px 0px #9b9b9b;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=180, Strength=6);
}

#header_content{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

#body{
    overflow: hidden;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    border: 3px solid #e9e9e9;
    background: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 200px;
}

#sidebar{
    margin-bottom: 50px;
    float: left;
    width: 25%;
    padding: 0 15px;
}

#content{
    margin-bottom: 50px;
    float: right;
    width: 75%;
    padding: 0 15px;
}

#footer{
    clear: both;
    padding: 0 25px;
    font-size: 11px;
    text-align: center;
    color: #5A5E6B;
}

#footer_content{
}

/* NAV & SIDEBAR */

#nav ul{
    color: #a26f6f;
}

#nav li{
    list-style-type: none;
    border-bottom: 1px solid #e9e9e9;
}

#nav a{
    display: block;
    text-decoration: none;
    padding: 5px;
    text-align: left;
    color: #5A5E6B;
}

#nav a:hover{
    background: #f3f3f3;
}

#sidebar .item{
    border-bottom: 1px solid #e9e9e9;
    padding: 5px;
}

#sidebar .item .title{
    font-weight: bold;
    margin-top: 0;
}

/* BREADCRUMB */

#breadcrumb{
    font-size: 12px;
    margin: 0;
    padding: 5px;
    margin-bottom: 25px;
    background: #f3f3f3;
}

#breadcrumb a{
    text-decoration: none;
    color: #928c8c;
}

/* MSG */

#msg p{
    padding: 5px;
}

#msg.success{
    background: #ccffcc;
    color: green;
}

#msg.error{
    background: #ffcccc;
    color: #cc3333;
}

/* DIVERS */

#siteName a{
    color: #fff;
    text-decoration: none;
    font-size: 42px;
    font-family: 'PT Sans Narrow';
}

#top{
    position: fixed;
    bottom: 0;
    right: 0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    border: 3px solid #e9e9e9;
    background: #fff;
    padding: 5px;
    text-decoration: none;
    display: block;
    font-size: 11px;
}

#footer a{
    text-decoration: none;
}

/* MOBILE */

@media only screen and (max-width: 768px){
    
    #header{
        margin-bottom: 0;
        position: relative;
        padding: 15px;
    }
    
    #body{
        border: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        margin-top: 0;
    }
    
    #sidebar{
        width: 100%;
        padding: 15px;
        clear: both;
        margin: 0;
    }
    
    #content{
        width: 100%;
        padding: 15px;
        clear: both;
        margin: 0;
    }
    
    #footer{
        clear: both;
        padding: 15px;
        width: 100%;
        margin: 0;
    }

}
