/*!
 * 99Ko
 * http://www.99ko.org
 *
 * Thème administration (Formulaires & Onglets)
 * Copyright 2011-2013, Frédéric Kaplon
 *
 */
label{font-weight:bold; font-size:11px; text-transform:uppercase}
label:after{content:' :';}
input[type=text],
input[type=mail],
input[type=password],
textarea, 
select{font-family:Verdana,'Helvetica Neue',Helvetica,Arial,Geneva,sans-serif; font-size:12px; color:#424242; padding:5px; border:1px solid #CCC; outline:none; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -moz-box-shadow:0 1px 2px rgba(0,0,0,.15) inset; -webkit-box-shadow:0 1px 2px rgba(0,0,0,.15) inset; box-shadow:0 1px 2px rgba(0,0,0,.15) inset; -moz-transition:border .2s linear,box-shadow .2s linear; -webkit-transition:border .2s linear,-webkit-box-shadow .2s linear}

input[type=text],
input[type=mail],
input[type=password],textarea{width: 50% }

textarea{ height: 300px; }

input[type=text]:focus, 
input[type=mail]:focus,
input[type=password]:focus, 
textarea:focus, 
select:focus{ border:1px solid #80bfff;   -moz-box-shadow:0 0 3px #80bfff,0 1px 2px rgba(0,0,0,.15) inset;  -webkit-box-shadow:0 0 3px #80bfff,0 1px 2px rgba(0,0,0,.15) inset;  box-shadow:0 0 3px #80bfff,0 1px 2px rgba(0,0,0,.15) inset}
/* === BOUTTONS === */
a.btn, input[type=submit]{ cursor:pointer;background:#e3e3e3;  border:1px solid #bbb;  -webkit-border-radius:3px;  -moz-border-radius:3px;  -ms-border-radius:3px;  -o-border-radius:3px;  border-radius:3px;  -webkit-box-shadow:inset 0 0 1px 1px #f6f6f6;  -moz-box-shadow:inset 0 0 1px 1px #f6f6f6;  -ms-box-shadow:inset 0 0 1px 1px #f6f6f6;  -o-box-shadow:inset 0 0 1px 1px #f6f6f6;  box-shadow:inset 0 0 1px 1px #f6f6f6;  color:#333; line-height:1;  padding:5px 9px;  text-align:center;  text-shadow:0 1px 0 #fff; margin:2px}
a.btn:hover,input[type=submit]:hover{ background:#d9d9d9;  -webkit-box-shadow:inset 0 0 1px 1px #eaeaea;  -moz-box-shadow:inset 0 0 1px 1px #eaeaea;  -ms-box-shadow:inset 0 0 1px 1px #eaeaea;  -o-box-shadow:inset 0 0 1px 1px #eaeaea;  box-shadow:inset 0 0 1px 1px #eaeaea;  color:#222; cursor:pointer; text-decoration: none}
a.btn:active, input[type=submit]:active{ background:#d0d0d0;  -webkit-box-shadow:inset 0 0 1px 1px #e3e3e3;  -moz-box-shadow:inset 0 0 1px 1px #e3e3e3;  -ms-box-shadow:inset 0 0 1px 1px #e3e3e3;  -o-box-shadow:inset 0 0 1px 1px #e3e3e3;  box-shadow:inset 0 0 1px 1px #e3e3e3;  color:#000}
input[type=submit] {padding: 15px 20px; font-size:larger}
/**
 * Taille des champs
*/
input.small{width: 5%}
input.medium{width: 40%}
input.large{width: 80%}
/**
 * Notification
*/
.error, .success{padding:0 10px 0 40px; color: #565656; text-shadow:0 1px 0 #fff; text-transform: uppercase; box-shadow: 0px 1px 1px white inset; border-radius:3px; font-size: 11px; text-align:left}
.error{background: #ffe9ad url(../images/warning.png) no-repeat 3px center; border: 1px solid #eac572; color: #826200}
.success{background: #effeb9 url(../images/tick.png) no-repeat 3px center; border: 1px solid #c1d779; color: #3C5A01}

/* Autre Notification */
.failure { background: #fccac1 url(../images/exclamation.png) no-repeat 15px center; border: 1px solid #e18b7c; color: #AC260F; }
.information { background: #d1e4f3 url(../images/information.png) no-repeat 15px center; border: 1px solid #99c4ea; color: #235685; }
pre{background-image:url(../images/pre_bg.png) !important; line-height:19px}
/**
 * Onglets
*/
article#tabs{margin:40px 0; width:80%}
article#tabs h3{margin:20px 0 40px}
.tabs li{list-style:none; display:inline}
.tabs a{display:inline-block; background:#666; font-size:11px; line-height:30px; height:30px; position:relative; padding:0 10px; color:#fff; letter-spacing:1px; text-transform:uppercase; text-align:center; text-shadow:1px 1px 1px rgba(255,255,255,0.3);  border-radius:3px 3px 0 0;  box-shadow:2px 0 2px rgba(0,0,0,0.1),-2px 0 2px rgba(0,0,0,0.1);  text-decoration:none}

.tabs a{-webkit-text-shadow:none; -moz-text-shadow:none; text-shadow:none}
#tabs div.tab{ margin-top:-16px;  padding:15px; font-family:Cambria,Georgia,serif; border-top-right-radius: 8px; border-bottom-right-radius: 8px}