/**
 * Forms.
*/
label{font-weight:bold; font-size:11px; text-transform:uppercase}
label:after{content:' :';}
input[type=text],
input[type=mail],
input[type=password],
textarea, 
select{font-family:Verdana,'Helvetica Neue',Helvetica,Arial,Geneva,sans-serif; font-size:12px; color:#424242; padding:5px; border:1px solid #CCC; outline:none; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; -moz-box-shadow:0 1px 2px rgba(0,0,0,.15) inset; -webkit-box-shadow:0 1px 2px rgba(0,0,0,.15) inset; box-shadow:0 1px 2px rgba(0,0,0,.15) inset; -moz-transition:border .2s linear,box-shadow .2s linear; -webkit-transition:border .2s linear,-webkit-box-shadow .2s linear}

input[type=text],
input[type=mail],
input[type=password]{width: 50% }

input[type=text]:focus, 
input[type=mail]:focus,
input[type=password]:focus, 
textarea:focus, 
select:focus{ border:1px solid #80bfff;   -moz-box-shadow:0 0 3px #80bfff,0 1px 2px rgba(0,0,0,.15) inset;  -webkit-box-shadow:0 0 3px #80bfff,0 1px 2px rgba(0,0,0,.15) inset;  box-shadow:0 0 3px #80bfff,0 1px 2px rgba(0,0,0,.15) inset}
input[type=submit], .btn{background:#333; color:#FFF; border:none; margin:0; padding:5px 9px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
input[type=submit]:hover, .btn:hover{background:#893625; color:#FFF; border:none}
/**
 * Notification
*/
.error, .success{padding:0 10px 0 40px; color: #565656; text-shadow:0 1px 0 #fff; text-transform: uppercase; box-shadow: 0px 1px 1px white inset; border-radius:3px; font-size: 11px; text-align:left}
.error{background: #ffe9ad url(../images/warning.png) no-repeat 3px center; border: 1px solid #eac572; color: #826200}
.success{background: #effeb9 url(../images/tick.png) no-repeat 3px center; border: 1px solid #c1d779; color: #3C5A01}

/* Autre Notification */
.failure { background: #fccac1 url(../images/exclamation.png) no-repeat 15px center; border: 1px solid #e18b7c; color: #AC260F; }
.information { background: #d1e4f3 url(../images/information.png) no-repeat 15px center; border: 1px solid #99c4ea; color: #235685; }
pre{background-image:url(../images/pre_bg.png) !important; line-height:19px}