/*!
 * 99Ko
 * http://www.99ko.org
 *
 * Thème administration (Connexion)
 * Copyright 2011-2013, Frédéric Kaplon
 *
 */
section{display:block}
a{color:#fff;}
body{background:#FFF; font:12px/1.7em arial,sans-serif}

#login{width:300px; position:absolute; left:50%; margin:140px 0 20px -150px; z-index: 2}
#login h2{height:32px;}
#login_panel{background:#efefef; width:300px; border:1px solid #CCC; overflow:hidden; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; -moz-box-shadow:1px 1px 1px rgba(0,0,0,.6); -webkit-box-shadow:1px 1px 1px rgba(0,0,0,.6); box-shadow:1px 1px 1px rgba(0,0,0,.6)}
#login_panel .login_fields{padding:22px 15px 15px}
#login_panel .login_fields input{width:255px}
#login_panel .field{margin-bottom:1.75em}
#login_panel .field:last-child{margin-bottom:.85em}
#login_panel .field label{font-weight:bold; color:#555; display:block; position:relative}
#login_panel .field label small{position:absolute; right:10px; top:-2px}
#login_panel .field label small a{color:#999}
#login .login_actions{background:#77A2A8; width:auto; padding:12px 15px; border-top:1px dotted #CCC}
#login .login_actions em{float:right; right:8px; padding-top:10px; text-transform: uppercase; font-size: 0.8em}
#login .login_actions em a{text-decoration: none; font-weight: bold; padding-left:3px; font-size: 1.1em}
#login input[type=submit] {padding: 5px 15px; font-size:inherit}
/**
 * Installation
*/
#install {width:400px; position:absolute; left:50%; margin: 20px 0 40px -200px; z-index: 1}
#install .pwd{color:#750808; font-weight: bold; letter-spacing: 1px }